*{
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar{
    display: block;
}

.thumbnail{
    width: 300px;
    height: auto;
}
.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.pfp{
    border-radius: 50%;
    width: 100%;
}
.profile-pic{
    display: inline-block;
    width: 50px;
    vertical-align:top;
} 
.details{
    display: inline-block;
    width: 240px;
  }
.title-video{
    font-weight: bold;
    margin-top: 0;
}