@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
    margin: 0px;
}

*{
    font-family:'Roboto', Arial sans-serif;
    margin: 0;
}
body{
    padding-top: 35px;
    margin: 0;

}

.header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid rgb(210, 208, 208);
    z-index: 1;
}

.brand{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#menu{
    height: 25px;
    margin-left: 25px;
    cursor: pointer;
}
#yt-logo{
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.search{
    margin: 0 70px;
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search input{
    width: 0;
    flex: 1;
    border: 1px solid rgb(198, 190, 190);
    border-right: none;
    padding: 10px;
    font-size: 16px;
}
#search-btn{
    width: 66px;
    height: 41px;
    padding: 0px 10px;
    border: none;
    border: 1px solid rgb(198, 190, 190);
    cursor: pointer;
}
#search-btn:active{
    background-color: rgb(223, 223, 223);

}
#search-btn-img{
    height: 27px;
}
#voice-search{
    height: 30px;
    margin: 0 18px;
    background-color: rgb(246, 246, 246);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}


.actions{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
}
#notification{
    background-color: rgb(204, 1, 1);
    position:absolute;
    font-size: 10px;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    right: 60px;
    top: 2px;
}
.actions-img{
    height: 25px;
    cursor: pointer;
}
#prof-pfp{
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}


.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 70px;
    z-index: 1;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.options:hover{
    background-color:rgb(213, 213, 213) ;
}

.sidebar-img{
    height: 25px;
    width: 25px;
}
.options-name p{
    font-size: 10px;
    text-align: center;
}

.video{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 20px;
    padding-top: 50px;
    padding-left:100px;
    padding-bottom: 50px;
    background-color: rgb(243, 242, 242);
    z-index: 0;
}

.thumbnail{
    width: 100%;
    height: auto;
}
.video-preview{
    margin-right: 15px;
    cursor: pointer;
}
.thumbnail-section{
    position: relative;
}
.time{
    font-size: 13px;
    background-color: black;
    color: white;
    position: absolute;
    padding: 3px;
    border-radius: 3px;
    right: 5px;
    bottom: 15px;
    font-weight: bold;
}
.information-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40px 1fr;
}
.profile-pic{
    vertical-align:top;
    margin-right: 10px;
}
.pfp{
    border-radius: 50%;
    width: 100%;
}
 
.title-video{
    font-weight: 500;
    line-height: 20px;
    margin-top: 0;
    font-size: 14px;
}
.info-video{
    color: grey;
    font-size: 12px;
    line-height: 20px;
}